<style>
    .heading {
        font-family: monospace;
        font-size: 1.5rem;
        color: #444;
        margin-bottom: 2rem;
    }

    .form_label {
        font-family: monospace;
        font-size: .9rem;
    }

    .error_heading {
        font-family: monospace;
        font-size: 1rem;
        color: red;
        margin-bottom: 2rem;
    }

    .error_message {
        font-family: monospace;
        font-size: .9em;
        color: #222;
        margin-bottom: 2rem;
    }
    .table_content {
        font-family: monospace;
        font-size: .8rem;
        color: #222;
        padding-top: .2rem;
    }
</style>

<h1 class='heading'> Create new Blog </h1>

<% if(@blog.errors.any?) %>
    <h2 class='error_heading'>These Errors are preventing creating of new Blog</h2>
    <ul>
        <% @blog.errors.full_messages.each do |error| %>
             <li class='error_message'> <%=error%> </li>
        <%end%>
    </ul>
<%end%>

<%= form_with scope: :blog, data: { turbo: false }, url: blogs_path, local: true do |f| %>

    <p class='form_label'>
        <%= f.label :title %>
        <br/> 
        <%= f.text_field :title %>
    </p>

    <p class='form_label'>
        <%= f.label :description%>
        <br/>
        <%= f.text_area :description%>
    </p>

    <p>
        <%=f.submit%>
    </p>

<% end %>

<p class='table_content'> <%=link_to 'Show all blogs', blogs_path %> </p>