<style>
    .heading {
        font-family: monospace;
        font-size: 1rem;
        color: #333;

    }
    .content {
        font-family: monospace;
        font-size: .8rem;
        color: #222;
    }
    .table_content {
        font-family: monospace;
        font-size: .8rem;
        color: #222;
        padding-right: 1rem;
        text-decorations: bold;
    }
</style>

<div class='flex flex-col'>
<h1 class='heading font-semibold'>Title : </h1>
<p class='content pt-2 pb-2'><%= @blog.title %></p>

<h1 class='heading font-semibold'>Description : </h1>
<p class='content pt-2 pb-2'><%= @blog.description %></p> 

<div class='flex font-bold pt-5'>
    <% if current_user.id == @blog.user.id %>
        <p class='table_content'> <%=link_to 'Edit', edit_blog_path(@blog.id)%> </p>
        <p class='table_content'> <%=link_to 'Delete', blog_path(@blog.id), data: {turbo_method: :delete, turbo_confirm: "Are your sure ?"} %> </p>
    <% end %>
    <p class='table_content'> <%=link_to 'Show all blogs', blogs_path %> </p>
</div>
</div>