<style>
    .heading {
        font-family: monospace;
        font-size: 1.5rem;
        color: #444;
        margin-bottom: 2rem;
    }

    .form_label {
        font-family: monospace;
        font-size: .9rem;
    }

    .error_heading {
        font-family: monospace;
        font-size: 1rem;
        color: red;
        margin-bottom: 2rem;
    }

    .error_message {
        font-family: monospace;
        font-size: .9em;
        color: #222;
        margin-bottom: 2rem;
    }
    .table_content {
        font-family: monospace;
        color: #222;
    }
</style>

<div class='flex flex-col'>
    <h1 class='heading'> Edit User </h1>

    <% if(@user.errors.any?) %>
        <h2 class='error_heading'>These Errors are preventing creating of new User</h2>
        <ul>
            <% @user.errors.full_messages.each do |error| %>
                <li class='error_message'> <%=error%> </li>
            <%end%>
        </ul>
    <%end%>

    <%= form_with(model: @user, local: true) do |f| %>

        <p class='form_label'>
            <%= f.label :username %>
            <br/> 
            <%= f.text_field :username %>
        </p>

        <p class='form_label'>
            <%= f.label :email%>
            <br/>
            <%= f.email_field :email%>
        </p>

        <p class='form_label'>
            <%= f.label :password%>
            <br/>
            <%= f.password_field :password%>
        </p>

        <p class='pt-10'>
            <%=f.submit "Update User", class:'cursor-pointer'%>
        </p>

    <% end %>

</div>